<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='/styles/planet.css') }}">-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto|Sofia|Cedarville Cursive|Marck Script|Merienda One|Vast Shadow|Work Sans|Niconne|Pacifico|Kaushan Script|Capriola|Source Code Pro|Lemonada|Grenze Gotisch|New Rocker|Gloria Hallelujah|Unica One|Syne Mono
">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">   </script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<style>
  .topnav {
  overflow: hidden;
  background-color: #333;

}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  
  color: black;
}

.topnav a.active {
  background-color: lightseagreen;
  color: white;
}

.topnav-right {
  float: right;
  color:white;
}

  body {
  font-family: "Lato", sans-serif;
}
.affects-hand
{
  font-family: Source Code Pro;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}


.danger {
  background-color: #ffdddd;
  border-left: 30px solid #f44336;
  height: 100px;
  text-align: center;
}

#life-hand
{
  font-family: New Rocker;
  font-size: 25px;
  background-color: #009966;
}
#life-head-hand
{
  font-family: Gloria Hallelujah;
}
#research-hand
{
  font-family: Unica One;
  font-size: 40px;
}
#insights-hand
{
  font-family: Syne Mono;
  font-size: 35px;
}

  </style>
<body>
  

<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
    <a href="#affects" onclick="closeNav()">Affects human life</a>
    <a href="#lifehabitability" onclick="closeNav()">Life habitability</a>
    <a href="#insights" onclick="closeNav()">Insights</a>
    <a href="#research-hand" onclick="closeNav()">Research</a>
    <a href="#dev" onclick="closeNav()">Developer's Corner</a>
  </div>
</div>

<div class="topnav" id="navbar">
  <a class="active" href="#home" style="font-family: Lemonada;">PLANET AND LIFE</a>
  <div class="topnav-right">
    <span style="font-size:30px;cursor:pointer;font-family: Lemonada;" onclick="openNav()">&#9776;</span>
  </div>
</div>

<script>
  window.onscroll = function() {myFunction()};
  
  var navbar = document.getElementById("navbar");
  var sticky = navbar.offsetTop;
  
  function myFunction() {
    if (window.pageYOffset >= sticky) {
      navbar.classList.add("sticky")
    } else {
      navbar.classList.remove("sticky");
    }
  }
  </script>

<script>
function openNav() {
  document.getElementById("myNav").style.height = "100%";
}

function closeNav() {
  document.getElementById("myNav").style.height = "0%";
}
</script>


<section id="affects">
<div style="background:Khaki !important"class="jumbotron">
  <div class="container">
    <h1 class="display-4" style="font-family: Grenze Gotisch;"><b><u>How planet affects our life ?</u></b></h1>
    <ul>
      <li class="affects-hand">We are connected to the planets and stars that surround us, and are actually a part of them. The deepest and closest connection we have is to the planets of our own solar system. Each planet represents another territory in our lives, another part of the spectrum of living, of the parts that compose us, Of the four forces: gravity, electromagnetism, nuclear-strong, and nuclear-weak, only the first two, gravity and EM, affect things over distances</li>
      <li class="affects-hand">Stones, Crystals and Metals as well as Colour, Earth, Air, Water, Fire, Akash, Ourselves, our Planet and our Universe all contains ENERGY. It is this energy, which permits everything in this universe to make it function. This energy source is actually beyond Religion, beyond theory or explanation.</li>
      <li class="affects-hand">Earth Experiences Rich planetic effects of SUN and MOON (sea water - gravity effect On No moon day and full moon day) and to some extent the Space Radiation, same way as per physics and gravitational force / law, somehow Mars, Venus, mercury, Jupiter, Saturn, Uranus, Neptune, pluto and psuedoplanets Raku and Ketu (moon ‘s north nood and south nood ) have also direct effect on us . This is not a belief but  a fact and truth. Moon has mostly effects on our Atmosphere and Hydrosphere. This has been approved by science as well</li>
      <li class="affects-hand"> Hydrosphere experiences severe tides during full moon and new moon days. They effect Atmosphere. This inturn effects human beings ( as human body contain about 90% water, so mind also affected), Because, moisture in atmosphere causes some problems to humans. The Energy from different planets has a different effect on humanity and also on plant and animal life. </li>
      <li class="affects-hand">Humans affected by their birth times and places, For example, Mercury is the planet that rules the mind and communications. In the Greek mythology Mercury is represented by Hermes, who is always depicted as the “winged messenger” of God. As another example Venus is the planet ruling the harmony, unison and love between people. Geeks called her Aphrodite, the Goddess of love – ideal, familiar and sexual. Each planet acts as a reflector for one of the seven dominant rays of the Sun. 
       </li>
      <li class="affects-hand">After their cycle of differentiation and accomplishment has been completed, they are again gathered up and united in the one great white light called cosmic energy. There has been a lot of research into astrological phenomena, but so far all of the results have been match time to time and till today in research.</li>
      <li class="affects-hand">Thus the time of birth determined the nature and intensity of the vibrations which are apparent in your mental, moral, spiritual, and physical characteristics, and these in turn indicate the character, environment, and opportunities which will come to you.</li>
      
    </ul>
    
  </div>
</div>
</section>

<br id="lifehabitability">

  <center>
<section class="text-center py-5" >
  <div class="animated flash">
    <div class="container" >
        <h2 class="h1-responsive font-weight-bold mb-5" id="life-head-hand">LIFE HABITABILITY</h2>
        <div class="row">

            <div class="col-lg-4 col-md-12 mb-4">
                <div class="card card-cascade narrower">
                    <div class="view view-cascade overlay">
                        
                    </div>
                    <div class="card-body card-body-cascade" id="articleani">
                    <h5 class="pink-text pb-2 pt-1" id="life-hand" style="background-color: #808080;"><i class="fas fa-utensils"> Mercury</i></h5>
                        <p>Extreme temperatures both cold and hot make it unlikely that life may develop there. The temperatures and solar radiation that characterize this planet are most likely too extreme for organisms to adapt to.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card card-cascade narrower">
                    <div class="view view-cascade overlay">
                        
                    </div>
                    <div class="card-body card-body-cascade">
                        <h5 class="pink-text pb-2 pt-1" id="life-hand" style="background-color: burlywood;"><i class="fas fa-utensils">Venus</i></h5>
                        <p>Recently it has been discovered that Venus has a large vortex at both its poles. The altitude is estimated to be about 59 km which is just above the cloud deck and the air pressure and temperature are tolerable for Earth standards.</p>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card card-cascade narrower">
                    <div class="view view-cascade overlay">
                    </div>
                    <div class="card-body card-body-cascade">
                        <h5 class="pink-text pb-2 pt-1" id="life-hand" style="background-color: #339999;"><i class="fas fa-utensils">Earth</i></h5>
                        <p>Life forms inhabit ecosystems, whose total is sometimes said to form a biosphere. The evolution of the biosphere is speculated to have begun about 3.5 Gya. The biosphere is divided into biomes, inhabited by broadly similar plants and animals.</p>
                    </div>
                </div>
            </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card card-cascade narrower">
                        <div class="view view-cascade overlay">
                        </div>
                       <div class="card-body card-body-cascade">
                            <h5 class="pink-text pb-2 pt-1" id="life-hand" style="background-color: #680000;color:white; "><i class="fas fa-utensils">Mars</i> </h5>
                            <p>In july 2018,scientists discovered sub-glacial lake on Mars, the first table body of water on the planet. Out of all the planets in the Solar System, Mars appears to have the highest change of having life forms but still the conditions are harsh enough that nothing should be able to survive there, perhaps only beneath the surface.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card card-cascade narrower">
                        <div class="view view-cascade overlay">
                        </div>
                        <div class="card-body card-body-cascade">
                            <h5 class="pink-text pb-2 pt-1" id="life-hand" style="background-color: #e69500;"><i class="fas fa-utensils">Jupiter</i> </h5>
                            <p>Since it doesn’t have a true surface but rather swirling fluids it is not conducive to life as we know it. Ganymede, Callisto, and Europa on the other hand, have higher chances of sustaining life.</p>
                        </div></div></div>

                        <div class="col-lg-4 col-md-12 mb-4">
                          <div class="card card-cascade narrower">
                              <div class="view view-cascade overlay">
                                 
                              </div>
                              <div class="card-body card-body-cascade">
                              <h5 class="pink-text pb-2 pt-1" id="life-hand" style="background-color:darkgoldenrod;"><i class="fas fa-utensils">Saturn</i></h5>
                                  <p>Since it doesn’t have a true surface, but rather swirling fluids, it is not conducive to life as we know it. The moons of Saturn however, respectively Titan and Enceladus, have internal oceans that could possibly hold life.

</p>
                              </div>
                          </div>
                      </div>

                      <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card card-cascade narrower">
                            <div class="view view-cascade overlay">
                                
                            </div>
                            <div class="card-body card-body-cascade">
                            <h5 class="pink-text pb-2 pt-1" id="life-hand" style="background-color: #66FFFF;"><i class="fas fa-utensils">Uranus</i></h5>
                                <p>Since it doesn’t have a true surface but rather swirling fluids it is not conducive to life as we know it.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 mb-4">
                <div class="card card-cascade narrower">
                    <div class="view view-cascade overlay">
                        
                    </div>
                    <div class="card-body card-body-cascade" id="articleani">
                    <h5 class="pink-text pb-2 pt-1" id="life-hand" style="background-color: blue;"><i class="fas fa-utensils">Neptune</i></h5>
                        <p>Since it doesn’t have a true surface but rather swirling fluids it is not conducive to life as we know it. Neptune’s moon Triton however, appears more likely to develop life.</p>
                    </div>
                </div>
            </div>
            
                      
                      </div></div></div>
</section>
</center>

<br id="insights">
<section >
  <center><h2 class="h1-responsive font-weight-bold mb-5" id="insights-hand">INSIGHTS</h2></center>
  <ul class="list-group">
    <li class="list-group-item list-group-item-dark">Mars reaches opposition today, Oct. 13, offering skywatchers an early Halloween treat. </li>
  
    
    <li class="list-group-item list-group-item-primary">During opposition, Mars, Earth and the sun form a straight line, with Earth in the middle.</li>
    <li class="list-group-item list-group-item-secondary">As a result, the Red Planet appears bigger, brighter and redder than usual — and the planet won't get this close to Earth again until 2035</li>
    <li class="list-group-item list-group-item-success">Mars orbits the sun at a greater distance than Earth and takes about 26 months to complete one orbit around the sun.</li>
    <li class="list-group-item list-group-item-danger">For this year's Mars opposition, observers in the Northern Hemisphere will have an exceptional view of the Red Planet</li>
    <li class="list-group-item list-group-item-warning">Indeed, Mars won't be comparably close and well-positioned for northern observers again until it reaches opposition in 2052.</li>
    
  </ul>
  </section>
<br>
<br id="research-hand">  



<center><h2 class="h1-responsive font-weight-bold mb-5" >Research Work</h2></center>
<section class ="research">
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4"><b>An AI just found 50 new planets</b></h1>
    <h2 class="lead">In recent development, an AI algorithm has discovered 50 new planets.</h2>
    <h4>Here is all you need to read about that.</h4>
  </div>
</div>

<div class="danger">
  <h3><center><i><strong>But this discovery marks a major push for the use of machine learning in the field of astronomy.</strong></i></center></h3>
</div>
<br><hr>


<div class="accordion" id="accordionExample">

  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <center><button class="btn btn-warning collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Findings are made through data from keplers space telescope
        </button></center>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body" style="font-size:20px;">
        An algorithm was developed by NASA researchers at Warwick University that found some planets by examining throughly the data collected by Kepler space telescope.
        The observation from the last decade long mission had gathered information on thousands of potentional exoplanets by capturing a distinctive dip in the light from distant stars.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <center><button class="btn btn-secondary collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          How the algorithm found the planets ?
        </button></center>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body" style="font-size:20px;">The researchers trained the algorithm on two large samples of confirmed planets and false positives from keplers data and get the planet-detection system ready.Using the information gathered, it finds actual batch of 50 new planets ranging size between neptune and earth.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <center><button class="btn btn-success collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Advantage - Eventually, this can simplify our search for habitable worlds.
        </button></center>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body" style="font-size:20px;">
        With this rapid and automated tech, astronomers hope to validate thousands of potential exoplanets in the future.Taking investigation further through dedicated telescopes, in the search for potentially habitable worlds that could have conditions similar to those on earth. <i><b>And who knows - even alien life ?</b></i>
      </div>
    </div>
  </div>
</div>
</section>

<br><br id="dev">
<section >
  <center>
    <h2 class="h1-responsive font-weight-bold mb-5" id="research-hand">DEVELOPERS CORNER</h2>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../static/img/dev.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">This site is developed by Varchasa Aggarwal</h5>
        
        <a href="https://varchasaaggarwal.herokuapp.com" class="btn btn-warning" target="_blank">About Varchasa Aggarwal</a>
      </div>
    </div>
    </center>
  </section>
  <br>



</body>
</html>
